<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup and login backend</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <nav>
    <div class="logo">Tutor Jones</div>
    <div class="menu>">
      <a href="/Home">Home</a>
      <a href="/register">Register</a>
      <a href="/">login</a>
      <a href="/profile">Profile</a>
      <a href="/auth/logout">Logout</a>
    </div>
  </nav>
  <div class="container-fluid">
    <h2>Home page</h2>
  </div> 
</body>
</html>